body{
    overflow-x: hidden;
    font-family: tahoma;
    font-size: 16px;
    margin: 0;
/* 	background-color: #C8C8C8; */
}
html {
    background-color: #ffffff;
    color: #5a5a5a;
    font-family: vedrana, sans-serif;
    font-size: 18px;
    text-rendering: optimizeLegibility;
    line-height: 1.8;
}


h1
{
	text-align: center;
}

#info, #tienich, #address, #images_room, #contact
{
	margin-top: 5px;
	padding-top: 15px;
	border-radius: 10px;
	padding-bottom: 15px;
	border: 5px solid #CCC;
	background-color: white;
}

#info
{
	width: 55%;
}

#info input,select
{
	margin-right: 10px;
}

#info div, #tienich div, #address div, #contact div
{
	margin-top: 5px;
	margin-left: 15px;
}

form h2
{
	color: brown;
	font-size: 22px;
}

hr
{
	margin: 10px 0px;
}

#tienich
{
	width: 45%;
}

#tienich div
{
	margin-top: 10px;
}

#tienich input
{
	width: 30px;
	height: 25px;
	margin-left: 20px;
	text-align: center;
}

#address, #contact
{
	width: 100%;
}

#address select, #address input, #contact input, #contact textarea
{
	width: 98%;
	height: 40px;
}

#images_room
{
	width: 100%;
	text-align: center;
}

#choose_image
{
	display: none;
}

#images_room label
{
	width: 200px;
	padding: 10px 0px;
	border: 2px dashed blue;
}

#submit_room
{
	width: 150px;
	border-radius: 3px;
	background-color: white;
	color: black;
	font-weight: bold;
	text-shadow: 0px 5px 5px #999999;
}

#submit_room:hover
{
	background-color: cyan;
}

